.input-line {
    background: none;
    border: none;
    border-bottom: 8px solid #ced4da;
    border-radius: 0;
    padding: 0;

    box-shadow: none;
    transition: border-color 0.15s ease-in-out;
  }
  
  .input-line:focus {
    outline: none;
    border-color: #007bff;
  }

  