.me {
  font-family: "Courier New", Courier, sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 2rem;
}

.mestck {
  font-family: "Courier New", Courier, sans-serif;
  font-size: 3.5rem;
  font-weight: 600;
  padding: 1rem;
}
