body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.section {
  font-family: "monospace", Courier, sans-serif;
  font-size: calc(40px + 0.390625vw);
  font-weight: 600;
  padding: 2rem;
  margin: 1rem;
  animation: typeIn 1s ease-in-out;
}

@keyframes typeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.section:hover {
  text-shadow: #0a9bd58c 0px 0px 10px;
  cursor: pointer;
}
